:root {
    --panel-bg-color: #243c54;
    --panel-txt-color: #f4dcbb;
    --normal-txt-color: #243c54;
    --shadow-color: #0b1629;
    --work-table-active-color: 36, 60, 84;
    --work-table-back-color: 36, 60, 84;
  }