#experience-container {
    font-family: 'Lato', 'sans-serif';
    height: 100%;
    width: 100vw;

    background-image: url('./Assets/webExpBackground.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 100px 150px 650px 1fr 200px;
    grid-template-areas: 
    ". . ."
    ". heading ."
    ". table ."
    ". . ."
    "curve curve curve";
}

#heading {
    grid-area: heading;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 50px;
}

#table {
    grid-area: table;
    display: grid;
    grid-template-columns: 1fr 200px 600px 1fr;
    grid-template-areas:
    ". jobs description ."
}

#job-listing {
    grid-area: jobs;
    font-size: 30px;
}

#job-descriptions {
    grid-area: description;
}

#curve {
    grid-area: curve;
    box-shadow: 0px -100px 22px -3 var(--shadow-color);
}
