* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  font-family: 'Lato', sans-serif;
}

.app {
  text-align: center;
  overflow: hidden;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#Heading {
  position: fixed;
  backdrop-filter: blur(10px);
  height: 95px;
  width: 100vw;
  z-index: 999;
  box-shadow: 0px 1px 10px var(--shadow-color);
  background-color: rgba(var(--header-color), 0.5);

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  font-size: 25px;
}

#Heading a {
  margin: 40px;
  text-decoration: none;
  color: var(--normal-txt-color);
}

#Heading a:hover {
  color: var(--hover-txt-color) !important;
  text-decoration: underline;
}

#Resume-head {
  width: 150px;   /* to push away from scroll bar */
  text-decoration: underline !important;
  color: var(--resume-color) !important;
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 800px 1100px 560px 60px;
  grid-template-areas:
  "top1"
  "about"
  "experience"
  "contact"
  "credits";
}

#Top {
  grid-area: top1;
  color: var(--normal-txt-color);

  width: 100vw;

  z-index: 998;
}

#About {
  grid-area: about;
  text-align: center;
  background-color: var(--panel-bg-color);
  color: var(--panel-txt-color);

  width: 100vw;
  z-index: 997;
}

#Experience {
  grid-area: experience;
  color: var(--normal-txt-color);

  width: 100vw;
}

#Contact {
  grid-area: contact;
  background-color: var(--panel-bg-color);
  color: var(--panel-txt-color);

  width: 100vw;
}

#Credits {
  grid-area: credits;
  background-color: var(--panel-bg-color);
  color: var(--panel-txt-color);
}
