@import './Components/colors.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;

  top: 0;
  left: 0;

  height: 100%;
  width: 100vw;
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 800px 400px 700px 30px;
  grid-template-areas:
  "top1"
  "about"
  "experience"
  "contact"
  "credits";
}

#Top {
  grid-area: top1;
  color: var(--normal-txt-color);

  width: 100vw;
}

#About {
  grid-area: about;
  text-align: center;
  background-color: var(--panel-bg-color);
  color: var(--panel-txt-color);

  width: 100vw;
}

#Experience {
  grid-area: experience;
  color: var(--normal-txt-color);

  width: 100vw;
}

#Contact {
  grid-area: contact;
  background-color: var(--panel-bg-color);
  color: var(--panel-txt-color);

  width: 100vw;
}

#Credits {
  grid-area: credits;
  background-color: var(--panel-bg-color);
  color: var(--panel-txt-color);
}
